.notes-container {
    background-color: white;
    margin: auto;
    position: relative;
    width: 1000px;
    height: 500px;
    max-width: 1000px;
    max-height: 500px;
    border: 1px black solid;
    border-radius: 5px;
}

.container-body {
    align-items: center;
    text-align: center;
}

.notes {
    max-width: 200px;
    max-height: 200px;
}